<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases"/>
  </configSections>
  <connectionStrings>
    <add name="cnncapa" connectionString="Data Source=172.68.2.11,55296; Initial Catalog=capacitacion; Persist Security Info=True; User ID=capa;Password=capa+123;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <FwkWrapper defaultProviderName="local">
    <Providers>
      <add name="local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" appId="paciente"
           serviceMetadataProviderName="paciente" sourceinfo=""/>
    </Providers>
  </FwkWrapper>
  <FwkServiceMetadata defaultProviderName="paciente">
    <Providers>
      <add name="paciente" type="xml"
           sourceinfo="..\Build\ServiceMetadataConfig_colombia.xml"
        appid="" />
    </Providers>
  </FwkServiceMetadata>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>